
### <center> <b> <span style="color:blue;"> Travaux Pratiques: Variables, Types & OpÃ©rations </span> </b></center>

**Exercise 00:**  
>

  
> 1. DÃ©clarez une variable `prenom` et attribuez-lui une valeur.
  > 2. DÃ©clarez une variable `nom` et attribuez-lui une valeur.
  > 3. DÃ©clarez une variable `prenom_nom` et attribuez-lui une valeur.
  > 4. DÃ©clarez une variable `pays` et attribuez-lui une valeur.
  > 5. DÃ©clarez une variable `ville` et attribuez-lui une valeur.
  > 6. DÃ©clarez une variable `age` et attribuez-lui une valeur.
  > 7. DÃ©clarez une variable `annee` et attribuez-lui une valeur.
  > 8. DÃ©clarez une variable `est_marie` et attribuez-lui une valeur.
  > 9. DÃ©clarez une variable `est_vrai` et attribuez-lui une valeur.

> Pour chacune des variables ci-dessus, affichez la valeur qu'elle contient Ã  l'aide de la fonction `print()`.

In [3]:
prenom = 'Esther'
print (prenom)
print("================================================")
print('\t')
nom =  'DJOI' 
print (nom)
print("================================================")
print('\t')
prenom_nom = 'Esther DJOI'
print (prenom_nom)
print("================================================")
print('\t')
pays = 'Benin'
print (pays)
print("================================================")
print('\t')
ville = 'Dangbo'
print (ville)
print("================================================")
print('\t')
age = 22 
print (age)
print("================================================")
print('\t')
annee = 2022
print (annee)
print("================================================")
print('\t')
est_marie = 'Marie'
print (est_marie)
print("================================================")
print('\t')
est_vrai = 'Vrai'
print (est_vrai)
print("================================================")
print('\t')

Esther
================================================

DJOI
================================================

Esther DJOI
================================================

Benin
================================================

Dangbo
================================================

22
================================================

2022
================================================

Marie
================================================

Vrai
================================================

**Exercise 01:** 
> VÃ©rifiez le type de donnÃ©es de toutes vos variables Ã  l'aide de la fonction intÃ©grÃ©e `type()`.**

In [14]:
#type(prenom)
#type(nom)
#type(prenom_nom)
#type(ville)
#type(age)
#type (annee)
#type(est_marie)
#type(est_vrai)
#DÃ©commenter pour avoir le type

str

**Exercise 02:** 
> Calculez la valeur de $y$ ($y = x^2 + 6x + 9$). Essayez d'utiliser diffÃ©rentes valeurs de $x$ et dÃ©terminez Ã  quelle valeur de $x$ $y$ sera Ã©gal Ã  0.**

In [17]:
x = 0
y = x*x + 6*x + 9
print(y)
print("================================================")
x = 1
y = x*x + 6*x + 9
print(y)
print("================================================")
x = -1
y = x*x + 6*x + 9
print(y)
print("================================================")
x = 2
y = x*x + 6*x + 9
print(y)
print("================================================")
x = -2
y = x*x + 6*x + 9
print(y)
print("================================================")
x = 3
y = x*x + 6*x + 9
print(y)
print("================================================")
x = -3
y = x*x + 6*x + 9
print(y)
print("================================================")

9
================================================
16
================================================
4
================================================
25
================================================
1
================================================
36
================================================
0
================================================

**Exercise 03:** 
>    

     1. DÃ©clarez votre Ã¢ge sous forme de variable entiÃ¨re
     2. DÃ©clarez votre taille en tant que variable flottante
     3. DÃ©clarez une variable qui stocke la base et la hauteur d'un triangle. Calculez l'aire de ce triangle (aire = 0,5 x b x h).

In [25]:
age = 22
taille = 1.58
base = input("Entrez la  base : ")
hauteur = input("Entrez la hauteur : ")
aire = (0.5)*float(base)*float(hauteur)
print("L'aire du triangle est :")
print(aire)

Entrez la  base : 2
Entrez la hauteur : 2
L'aire du triangle est
2.0

## *AstuceÂ : recevoir les entrÃ©es de l'utilisateur *
**Pour recevoir une entrÃ©e de l'utilisateur, nous utilisons `input()`.**.

**Exemple**
Recevez deux nombres en entrÃ©e de l'utilisateur et calculez leur puissanceÂ :
```python
base = input("Entrez une base : ")
exposant = input("Entrez un exposant : ")
resultat = float(base) ** float(exposant)
print(f "{base} Ã  la puissance {exposant} = {rÃ©sultat}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [26]:
a = input("Entrez la valeur du premier cotÃ© du triangle : ")
b = input("Entrez la valeur du deuxiÃ¨me cotÃ© du triangle : ")
c = input("Entrez la valeur du troisiÃ¨me cotÃ© du triangle : ")
perimÃ¨tre = float (a) + float (b) + float (c)
print("Le perimÃ¨tre du triangle est : ")
print(perimÃ¨tre)

Entrez la valeur du premier cotÃ© du triangle : 5
Entrez la valeur du deuxiÃ¨me cotÃ© du triangle : 8
Entrez la valeur du troisiÃ¨me cotÃ© du triangle : 9
Le perimÃ¨tre du triangle est :
22

**Exercise 05:** 
> **Obtenez la longueur et la largeur d'un rectangle Ã  l'aide de l'invite. Calculer sa `superficie` et son `perimetre`.**

In [29]:
Longueur = input("Entrez la longueur du rectangle : ")
Largeur = input("Entrez la largeur rectangle : ")
aire = float (Longueur)*float(Largeur)
print("L'aire du rectangle est : ", aire)

Entrez la longueur du rectangle : 5
Entrez la largeur rectangle : 4
L'aire du rectangle est :  20.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonfÃ©rence (c = 2 x pi x r) oÃ¹ pi = 3,14.**

In [30]:
pi = 3.14
rayon = input("Entrez le rayon du cercle : ")
aire_cercle = float(pi)*float(rayon)*float(rayon)
c = (2)*float(pi)*float(rayon)
print("L'aire du cercle est : ", aire_cercle)
print("La circonfÃ©rence du cercle est : ", c)

Entrez le rayon du cercle : 5
L'aire du cercle est :  78.5
La circonfÃ©rence du cercle est :  31.400000000000002

**Exercice 07:**
> **Calculez la pente, l'ordonnÃ©e Ã  l'origine en x et l'ordonnÃ©e Ã  l'origine en $y$ de $y = 2x -2$.**

In [37]:

x_1 = 0
y = 2*x_1 - 2
y_1 = y
x_2 = 1
y = 2*x_2 - 2
y_2 = y
y = 0
pente = float(y_2-y_1)/ float (x_2-x_1)
print("La pente est : ", pente)
print("L'ordonnÃ©e Ã  l'origine est : " , y_1)

La pente est :  2.0
L'ordonnÃ©e Ã  l'origine est :  -2

**Exercice 08:** 
> **RÃ©digez un script qui demande Ã  l'utilisateur d'entrer les heures et le taux horaire. Calculez la rÃ©munÃ©ration de la personne ?**

In [38]:
heure = input("Entrez l'heure : ")
taux_horaire = input("Entrez le taux horaire : ")
renumeration = float(heure)*float(taux_horaire)
print("La rÃ©numÃ©raion est ", renumeration)

Entrez l'heure : 21
Entrez le taux horaire : 12
La rÃ©numÃ©raion est  252.0

**Exercice 09:** 
> **Ã‰crivez un script qui demande Ã  l'utilisateur d'entrer le nombre d'annÃ©es. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [73]:
annee = input("Entrez le nombre d'annÃ©e ")
 s = float(annee)*365*24*60*60
print("Le nombre de secondes que la personne peut vivre est ",s, "secondes")

IndentationError: unexpected indent (<ipython-input-73-255061997d63>, line 2)

**Exercice 10:** 
> **Ã‰crivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [60]:
liste_1 = [1,1,1,1,1]
liste_2 = [2,1,2,4,8]
liste_3= [3,1,3,9,27]
liste_4 = [4,1,4,16,64]
liste_5 = [5,1,5,25,125]
print (liste_1)
print (liste_2)
print (liste_3)
print (liste_4)
print (liste_5)

[1, 1, 1, 1, 1]
[2, 1, 2, 4, 8]
[3, 1, 3, 9, 27]
[4, 1, 4, 16, 64]
[5, 1, 5, 25, 125]

**Exercise 11:** 
>**Attribuez aux variables `temps` et `distance` les valeurs $6.892$ et $19.7$. Calculer et afficher la valeur de la vitesse. AmÃ©liorer l'affichage en imposant un chiffre aprÃ¨s la virgule.**

In [62]:
temps = 6.892
distance = 19.7
vitesse = float(distance)/float(temps)
print(round(vitesse,1))

2.9

**Exercice 12:** 
> **Ã‰crire un programme qui, Ã  partir de la saisie dâ€™un rayon et dâ€™une hauteur, calcule levolume dâ€™un cÃ´ne droit.**

In [70]:
rayon = input ("Entrez le rayon : ")
hauteur = input ("Entrez la hauteur : ")
volume = (1/3)* 3.14 * float (rayon) * float (rayon) * float (hauteur)
print(volume)

Entrez le rayon : 2
Entrez la hauteur : 4
16.746666666666666

**Exercise 13:** 
> **L'utilisateur donne un entier positif et le programme annonce combien de fois de suite cet entier est divisible par 2.**

In [ ]:
 nbre = input ("Entrez un nombre : ")

**Exercise 14:** 
>**L'utilisateur donne un nombre entier entre 2 et 12, le programme donne le nombre de faÃ§ons de le faire en lanÃ§ant deux dÃ©s.**

**Exercice 15:** 
> **Utilisez la fonction d'entrÃ©e intÃ©grÃ©e `input()` pour obtenir le `_prÃ©nom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [77]:
prenom = input ("Entrez le prenom: ")
nom = input ("Entrez le nom: ")
pays_d_origine = input("Entrez le pays d'origine : ")
age = input("Entrez l'Ã¢ge ")
print(prenom)
print(nom)
print(pays_d_origine)
print(age)

Entrez le prenom: esther
Entrez le nom: djoi
Entrez le pays d'origine : benin
Entrez l'Ã¢ge 22
esther
djoi
benin
22

**Exercice 16:** 

**DÃ©clarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur Ã  une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur Ã  une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur Ã  une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur Ã  une variable `division`.
   5. Calculez `num_one` Ã  la puissance de `num_two` et attribuez la valeur Ã  une variable `exp`.

In [74]:
num_one = 5
num_two = 4
totale = num_one+num_two
diff = num_two-num_one
produit = num_one * num_two
division = num_one/num_two
exp = int (num_one)**int(num_two)
print(totale)
print(diff)
print(produit)
print(division)
print(exp)

9
-1
20
1.25
625

<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS! ðŸŽ‰ </span> </b></center>